@charset "utf-8";

/* 안쪽 여백 설정하기 */
article {
	width: 100px;
	height: 100px;
	border: 1px solid red;
}
article:nth-of-type(1) {
	padding: 0px;
}
/*article:nth-of-type(2) {
	padding: 30px;
}
*/
/* 기존 박스 크기 유지하면서 안쪽 여백 설정하기*/
/*article:nth-of-type(2) {
	padding: 30px;
	width: 40px;
	height: 40px;
} */
article:nth-of-type(2){
	padding: 30px;
	box-sizing: border-box;
}
/*혼자만의 사랑은 슬퍼지는거라 말하지 말아요
그대향한 그리움은 나만의 것인데
외로움에 가슴 아파도오오오
그아픔까지 사랑한거야*/
/*좋은밤 좋은 꿈 안녕*/
